:root {
    --color-border-header: #a1a1a1;
    --bgc-movi-mobile-menu: #ffc0cb;
    --color-bg-btn-mobile-menu: #4985ff;
    --fill-svg-mobile-menu: #191970;
    --color-primery-text: #ffffff;
    --color-movi-mobile-menu-link: #7b68ee;
    --bgc-work: #f6f6f8;
    --bgc-hero-secondary: #808080;
    --color-title: #323232;
    --color-secondary-text: #999999;
    --color-border-svg: #e0e0e0;
}
