.functions {
    padding: 70px 0;

    @include table-min {
        padding: 110px 0;
    }

    &__title {
        @include font(22px, 700, 1.5, 0em);

        color: var(--color-title);

        @include table-min {
            text-align: center;
            @include font(36px, 700, 1.5, 0em);
            max-width: 739px;
            margin-left: auto;
            margin-right: auto;
        }

        &--moving-bottom {
            margin-bottom: 20px;

            @include table-min {
                margin-bottom: 32px;
            }
        }
    }

    &__text {
        @include font(12px, 400, 1.6, 0em);

        color: var(--color-secondary-text);

        @include table-min {
            text-align: center;
            @include font(16px, 400, 1.6, 0em);
            max-width: 730px;
            margin-left: auto;
            margin-right: auto;
        }

        &--moving-bottom {
            margin-bottom: 50px;

            @include table-min {
                margin-bottom: 70px;
            }
        }
    }

    &__list {
        @include table-min-table-max {
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
        }

        @include desktop-min {
            @include flex-centered;
        }

        &--moving-bottom {
            margin-bottom: 35px;

            @include table-min {
                margin-bottom: 55px;
            }
        }
    }

    &__item {
        @include table-min {
            display: flex;
        }

        @include table-max {
            width: calc((100% - 50px) / 2);
        }

        @include desktop-min {
            width: calc((100% - 60px) / 3);

            &:not(:first-child) {
                margin-left: 30px;
            }
        }

        &:not(:last-child) {
            @include mobile-max {
                margin-bottom: 10px;
            }
        }
    }
}

// Card SVG
.card-functions {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 1px solid var(--color-border-svg);
    @include flex-centered;

    @include table-min {
        min-width: 110px;
        min-height: 110px;
    }

    @include mobile-max {
        margin-bottom: 10px;
    }

    &__pre {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 1px solid var(--color-bg-btn-mobile-menu);
        @include flex-centered;
    }

    &__svg {
        fill: var(--color-bg-btn-mobile-menu);
    }
}

// Conteiner text

.wrapper-functions {
    width: 222px;

    @include table-min {
        margin-left: 17px;
    }

    &__pre-titile {
        @include font(14px, 600, 1.2, 0em);

        color: var(--color-pre-title);

        @include table-min {
            @include font(18px, 600, 1.2, 0em);
            margin-top: 46px;
        }

        &--moving-bottom {
            margin-bottom: 10px;

            @include table-min {
                margin-bottom: 12px;
            }
        }
    }

    &__pre-text {
        @include font(10px, 400, 1.6, 0em);

        color: var(--color-secondary-text);

        @include table-min {
            @include font(14px, 400, 1.6, 0em);
        }
    }
}
